.project-display{
    padding:20px 250px;
}
.wellnest-project, .lhc-project, .aurora-project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.wellnest-img img, .pfl-img img, .lhc-img img, .midris-img img, .aurora-img img{
    width:400px;
    height:250px;
    border-radius: 20px;
}
.project-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-details h2{
    font-size: 2rem;
}
.project-details p{
    margin-top: -20px;
}
.project-details a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF3131;
    padding: 15px;
    width: 100px;
    color: #fff;
    border-radius: 25px;
}
.pfl-project, .midris-project{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.btn-links{
    display: flex;
    gap: 30px;
}
.responsive-pages{
    margin-top: 100px;
}