.contact-container{
    display: flex;
    flex-direction: row;
    gap: 350px;
    align-items: center;
}
.contact{
   padding:20px 100px;
}
.contact h2{
   font-size: 2rem;
}
.contact p{
    font-size: 1.2rem;
    width:500px;
}
.contact-links{
    display: flex;
    gap:30px;
}
.fa-brands{
    font-size: 3rem;
    color: #ff3131;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    width:300px
}
textarea{
    width: 300px;
    height: 200px;
}