.navigation{
    display:flex;
    justify-content: space-between;
    background-color: #101010;
    padding:0 100px 50px 100px;
    align-items: center;
}
.logo a{
    color:#ffffff;
    text-decoration: none;
    font-size: 1.3rem;
}
.nav-links{
    display:flex;
}
.nav-links a{
    text-decoration: none;
    padding: 25px;
    color:#767878
}
.nav-links a:hover{
    color:#FF3131
}

@media (max-width:768px){
    .menu-icon{
        border: 1px solid #FF3131;
        padding: 10px;
        border-radius: 5px;
    }
    .bar{
        display:block;
        width: 25px;
        height: 1px;
        margin:5px auto;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background: #FF3131;
        
    }

}
