.navigation{
    display:flex;
    justify-content: space-between;
    background-color: #101010;
    padding:0 100px 50px 100px;
    align-items: center;
}
.logo a{
    color:#ffffff;
    text-decoration: none;
    font-size: 1.3rem;
}
.nav-links{
    display:flex;
}
.nav-links a{
    text-decoration: none;
    padding: 25px;
    color:#767878
}
.nav-links a:hover{
    color:#FF3131
}

@media (max-width:768px){
    .navigation{
        padding: 20px;
    }
    .menu-icon{
        border: 1px solid #FF3131;
        padding: 10px;
        border-radius: 5px;
    }
    .menu-icon.active .bar:nth-child(2){
        opacity:0;
    }
    .menu-icon.active .bar:nth-child(1){
        transform: translateY(5px) rotate(45deg);
    }
    .menu-icon.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .bar{
        display:block;
        width: 25px;
        height: 1px;
        margin:5px auto;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background: #FF3131;     
    }
    .nav-links{
        position: fixed;
        flex-direction: column;
        gap: 0;
        top: 50px;
        left:-100%;
        text-align: center;
        width:100%;
        transition: 0.7s ease-in-out;
        background-color: #FF3131;
        z-index: 12;
        
    }
    .nav-links.active{
        left:0;
    }
    .nav-links li{
        margin: 10px 0;
        list-style: none;
    }
    .nav-links li a{
        color: #ffffff;
    }
    .nav-links li a:hover{
        background-color: #cc6d6d;
        padding: 10px;
        border-radius: 15px;
    }

}
