.navigation{
    display:flex;
    justify-content: space-between;
    background-color: #101010;
    padding:0 100px 50px 100px;
    align-items: center;
}
.logo a{
    color:#ffffff;
    text-decoration: none;
    font-size: 1.3rem;
}
.nav-links{
    display:flex;
}
.nav-links a{
    text-decoration: none;
    padding: 25px;
    color:#767878
}
.nav-links a:hover{
    color:#FF3131
}

@media (max-width:768px){
    .navigation{
        padding: 20px;
    }
    .menu-icon{
        border: 1px solid #FF3131;
        padding: 10px;
        border-radius: 5px;
    }
    .bar{
        display:block;
        width: 25px;
        height: 1px;
        margin:5px auto;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background: #FF3131;     
    }
    .nav-links{
        position: absolute;
        flex-direction: column;
        gap: 0;
        top: 50px;
        left:-50px;
        text-align: start;
        width:100%;
        transition: 0.7s ease-in-out;
        background-color: #FF3131;
        paddin: 10px;
        
    }
    .nav-links.active{
        left:0;
    }
    .nav-links li{
        margin: 10px 0;
    }

}
